<h1>Coin Machine API</h1>

<form action="/coins" method="post">
<button id="create-coin-button" type="submit">Create Coin</button><br>
<input type="text" name="name" placeholder="What's the name of your coin?"><br>
<input type="integer" name="value" placeholder="How much is your coin worth?">
</form>

<br>

<form action="/coins/:id/edit" method="get">
<button id="update-one-coin">Update One Coin</button><br>
<input type="text" name="name" placeholder="What's the name of your coin?"><br>
<input type="integer" name="value" placeholder="How much is your coin worth?">
</form>

<br>

<form action="/coins/:id" method="post">
<button id="delete-one-coin">Delete One Coin</button><br>
<input type="text" name="name" placeholder="What's the name of your coin?"><br>
<input type="integer" name="value" placeholder="How much is your coin worth?">
<input type="hidden" name="_method" value="DELETE">
</form>

<br>

<form action="/coins" method="get">
<button id="see-all-coins">See All Coins</button>
</form>

<br>
<br>

<form action="/coins/:id" method="get">
<button id="view-one-coin">View One Coin</button><br>
<input type="text" name="name" placeholder="What's the name of your coin?"><br>
<input type="integer" name="value" placeholder="How much is your coin worth?">
</form>