<h1>Coin Machine API</h1>



<!-- <form action="/coins" method="post">
<button id="create-coin-button" type="submit">Create Coin</button><br>
<input type="text" name="name" placeholder="What's the name of your coin?"><br>
<input type="integer" name="value" placeholder="How much is your coin worth?">
</form><br> -->

<%= form_tag("/coins", method: "post") do %>
  <%= text_field_tag :name, nil, placeholder: "Name of Coin" %><br>
  <%= number_field_tag :value, nil, placeholder: "Value of Coin" %><br>
  <%= submit_tag("Create Coin") %>
<% end %>

<br>

<form action="/coins/:id/edit" method="get">
<button id="update-one-coin">Update One Coin</button><br>
<input type="text" name="name" placeholder="What's the name of your coin?"><br>
<input type="integer" name="value" placeholder="How much is your coin worth?">
</form>

<br>

<form action="/coins/:id" method="post">
<button id="delete-one-coin">Delete One Coin</button><br>
<input type="text" name="name" placeholder="What's the name of your coin?"><br>
<input type="integer" name="value" placeholder="How much is your coin worth?">
<input type="hidden" name="_method" value="DELETE">
</form>

<br>

<form action="/coins" method="get">
<button id="see-all-coins">See All Coins</button>
</form>

<br>
<br>

<form action="/coins/:id" method="get">
<button id="view-one-coin">View One Coin</button><br>
<input type="text" name="name" placeholder="What's the name of your coin?"><br>
<input type="integer" name="value" placeholder="How much is your coin worth?">
</form>

<br>

<form action="/coins/total" method="get">
<button id="view-coin-total">View Total Coin Value</button>
</form>

<br>

<form action="/transactions" method="post">
<button id="create-transaction-button">Deposit a Coin</button><br>
<input type="text" name="name" placeholder="What's the name of your coin?"><br>
<input type="integer" name="value" placeholder="How much is your coin worth?">
</form>

<br>

<form action="/transactions" method="get">
<button id="see-all-transactions">See All Transactions</button>
</form>

<br>

<form action="/apiusers/:apiuser_id/transactions" method="get">
<button id="view-all-transactions-one-user">View All Transactions of One User</button><br>
<input type="text" name="api_key" placeholder="What's the API Key?"><br>
</form>