<form action="/">
<button id="back-button">Home</button>
</form>

<h1>All Transactions:</h1>

<% @transactions.each do |transaction| %>
time: <%= transaction.created_at %><br>
coin name: <%= Coin.find(transaction.coin_id).name %><br>
coin value: <%= Coin.find(transaction.coin_id).value %><br>
apiuser: <%= Apiuser.find(transaction.apiuser_id).api_key %><br><br>
<% end %>