<form action="/">
<button id="back-button">Home</button>
</form>

<h1>Update a Coin</h1>

old name: <%= @coin.name %><br>
old value: <%= @coin.value %><br><br>

<form action="/coins/<%=@coin.id%>" method="post">
<input type="text" name="name" placeholder="New Name"><br>
<input type="integer" name="value" placeholder="New Value"><br>
<button id="change-coin-attributes">Change Your Coin</button>
</form>
